{% extends "base.html" %}
{% block content %}
<p><center>Future and Modern Diding Experience</center></p>
<p><center>Eat New Food, Make New Friends</center></p>
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

<form method="GET" name="search" role="search" action="{% url 'search:searchUser' %}">
      <p class="inp-wrap search-wrap">
        <input type="search" name="q" id="search-field" class="grid-95" placeholder="Search.." />
      </p>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
</form>
{% endblock %}
