{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card text-sm-center">
                    <div class="rv" style="background-image: url({{request.user.get_background_url}}); height: 20px"></div>
                    <div class="card-block">
                        <a href = "{{user.get_absolute_url}}">
                            <img src="{{ request.user.get_photo_url }}" class="img-circle" height="100" width="100">
                            <br>
                            {{ user.username }}
                            <br>
                            {{user.name}}
                        </a>
                        <hr>
                        <p>{{ request.user.get_user_count }}</p>
                        <p>Followers</p>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <form class="form-horizontal" enctype="multipart/form-data" method = "post" action = "{% url 'post:post_home' %}" style="display: inline;">
                  {% csrf_token %}
                  {{post_form|crispy}}
                  <div class="control-group">
                      <div class="controls">
                        <button type="submit" class="btn btn-primary">Create New Post</button>
                      </div>
                    </div>
                </form>

                <br>
                <button type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add to Favorite Lists
                </button>
                <br>
                  <br>
                  {% if posts %}
                    <ul class='list-group'>
                      {% for post in posts %}
                        <li class='list-group-item'>
                          <h5 style="display:inline-block;">{{post.post}} </a> </h5>
                              <small class="pull-right" style="color: lightslategray;">{{ post.updated_at}}</small>
                            <p>Posted by:
                              <a href = "{{post.user.get_absolute_url}}"> {{post.user.username}}</a>
                            </p>
                            <button id = "like" class="btn btn-primary">like</button>
                        </li>
                        <br>
                       {% endfor %}
                    </ul>
                {% else %}
                  <p>No Posts found</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
