{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="bpy" style="background-image: url({{ request.user.get_background_url }}); height: 400px">
    <div class="by">
        <div class="bpz">
            <img class="wg bqa" src="{{ request.user.get_photo_url }}" height="110" width="110">
            <h3 class="bqc">{{ object.username }}</h3>
            <p class="bqb">
                {{ object.short_description }}
            </p>
        </div>
    </div>
</div>
  <div class="row">
    <div class="col-sm-12">
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


{% endblock content %}

