{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="dq">
    <div class="fh">
        <div class="rp bqq agk">
            <div class="rv" style="background-image: url({{request.user.get_background_url}}); height: 120px"></div>
            <div class="rq awx">
                <a href = "{{user.get_absolute_url}}">
                    <img class="bqr img-circle" src="{{ request.user.get_photo_url }}" height="80" width="80">
                </a>
                <h6 class="rr">
                    <a class="bph" href = "{{user.get_absolute_url}}">{{ user.username }}</a>
                </h6>
                <p class="agk">
                    {{ user.short_description }}
                </p>
                <ul class="bqs">
                    <li class="bqt">
                        <a class="bph" href="{% url 'users:followerlist' %}">
                            Followers
                            <h6 class="afl" >{{ follower_count }}</h6>
                        </a>
                    </li>
                    <li class="bqt">
                        <a href="" class="bph">
                            Posts
                            <h6 class="afl">0</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rp bra brb agk">
            <div class="rq">
                <h6 class="agd">
                    About
                    <small>
                        ·
                        <a href="#">Edit</a>
                    </small>
                </h6>
                <ul class="dc ayn">
                    <li>
                        <small style="color: lightslategray;">Location: {{user.location}}</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fk">
        <form class="form-horizontal" enctype="multipart/form-data" method = "post" action = "{% url 'post:post_home' %}" style="display: inline;">
          {% csrf_token %}
          {{post_form|crispy}}
          <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">Create New Post</button>
              </div>
            </div>
        </form>

        <br>
        <br>
        {% if posts %}
            <ul class='list-group'>
              {% for post in posts %}
                <li class='list-group-item'>
                   <h5 style="display:inline-block;">{{post.post}} </a> </h5>
                   <small class="pull-right" style="color: lightslategray;">{{ post.updated_at}}</small>
                   <br><br>
                   {% if post.image %}
                     <img src="{{ post.image.url }}" style="width: 40%">
                   {% endif %}
                   <br><br>
                   <p>Posted by:
                     <a href = "{{post.user.get_absolute_url}}"> {{post.user.username}}</a>
                   </p>
                   <p>I am a {{ post.user.get_usertype }}</p>
                   <button id = "like" class="btn btn-primary">like</button>
                </li>
                <br>
               {% endfor %}
            </ul>
        {% else %}
            <p>No Posts found</p>
        {% endif %}
    </div>
</div>
{% endblock %}
