{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form class="form-horizontal" enctype="multipart/form-data" method = "post" action = "{% url 'post:post_home' %}" style="display: inline;">
  {% csrf_token %}
  {{post_form|crispy}}
  <div class="control-group">
	  <div class="controls">
	    <button type="submit" class="btn btn-primary">Create New Post</button>
	  </div>
	</div>
</form>

<br>
  <br>
  {% if posts %}
    <ul class='list-group'>
      {% for post in posts %}
        <li class='list-group-item'>
          <h5 style="display:inline-block;">{{post.post}} </a> </h5>
          <img src="{{ post.image.urls }}" height="420">
              <small class="pull-right" style="color: lightslategray;">{{ post.updated_at}}</small>
            <p>Posted by:
              <a href = "{{post.user.get_absolute_url}}"> {{post.user.username}}</a>
            </p>
            <button id = "like" class="btn btn-primary">like</button>
        </li>
        <br>
       {% endfor %}
    </ul>
{% else %}
  <p>No Posts found</p>
{% endif %}
{% endblock %}
